@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lobster&family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* background: linear-gradient(#000000,#000000,#101116,#171a1b); */
  background-color: #000000;
  color: #00d8ff;
}

h1{
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0px;
    border: 1px solid #00d8ff;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
}

.icontainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #00d8ff;
  border-radius: 8px;
  border-top: 0px;
  padding-top: 1px;
}

.img{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
    height: 24%;
    width: 24%;
    margin: 65px;
    margin-bottom: 50px;
    animation: moving 20s infinite linear;
}

.fast{
    animation: moving 0.9s infinite linear;
}

@keyframes moving {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

button{
  display: flex;
  flex-flow: column nowrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #00d8ff;
  background-color: #000000;
  border: 1px solid #00d8ff;
  border-radius: 8px;
  height: 35px;
  width: 100px;
}

button:hover{
  cursor: pointer;
  background-color: #00d8ff;
  color: #000000;
}