@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #00d8ff;
}

h1{
    text-align: center;
    margin-top: 10px;
    border: 1px solid #00d8ff;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
}

.img{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
    height: 25%;
    width: 25%;
    margin: 100px;
    animation: moving 20s infinite linear;
}

.fast{
    animation: moving 0.9s infinite linear;
}

@keyframes moving {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}